/* Temporary Google Font import for Space Grotesk (Orbitron is loaded via next/font) */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #121212;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	overflow-x: hidden;
}

.color {
	height: 1000px;
	width: 1000px;
	background-image: radial-gradient(
		closest-side,
		rgba(187, 134, 252, 0.21),
		var(--background)
	);
	position: absolute;
	top: -570px;
	left: 50%;
	z-index: -1;
}

/* HTML: <div class="loader"></div> */
.loader {
	width: 50px;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 8px solid #0000;
	border-right-color: #bb86fc;
	position: relative;
	animation: l24 2s infinite linear;
}
.loader:before,
.loader:after {
	content: '';
	position: absolute;
	inset: -8px;
	border-radius: 50%;
	border: inherit;
	animation: inherit;
	animation-duration: 2s;
}
.loader:after {
	animation-duration: 4s;
}
@keyframes l24 {
	100% {
		transform: rotate(1turn);
	}
}
